################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NSF.Framework/obj/Debug/build.force
/NSF.Framework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/Release/build.force
/NSF.Framework/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64/Debug/build.force
/NSF.Framework/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64/Release/build.force
/NSF.Framework/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Framework/obj/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Framework/obj/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Framework/obj/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Framework/obj/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/bin/Debug/NSF.GameServer.exe.config
/NSF.GameServer/bin/Debug/NSF.GameServer.vshost.exe
/NSF.GameServer/bin/Debug/NSF.GameServer.vshost.exe.config
/NSF.GameServer/bin/Debug/NSF.GameServer.vshost.exe.manifest
/NSF.GameServer/obj/Debug/build.force
/NSF.GameServer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/Debug/NSF.EchoServer.csproj.FileListAbsolute.txt
/NSF.GameServer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/Release/build.force
/NSF.GameServer/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64/Debug/build.force
/NSF.GameServer/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64/Release/build.force
/NSF.GameServer/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.GameServer/obj/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.GameServer/obj/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.GameServer/obj/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.GameServer/obj/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64_Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64_Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64_Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64_Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.Share/obj/x64_Release/DesignTimeResolveAssemblyReferencesInput.cache
/NSF.Share/obj/x64_Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/NSF.Share/obj/x64_Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/NSF.Share/obj/x64_Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/NSF.v12.suo
